/* ===================================
   Site - Custom
   =================================== */

.container {
	margin: 0 auto;

	@media screen and (min-width: $bp-sm) {
		max-width: 767px;
	}

	@media screen and (min-width: $bp-md) {
		max-width: 1025px;
	}

	@media screen and (min-width: $bp-lg) {
		max-width: 1169px;
	}

	@media screen and (min-width: $bp-xl) {
		width: 1170px;
	}

}

main {
	min-height: 550px;
	background: #fff;
}