@charset "UTF-8";
/* ==========================================================================
 @import rules first
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto+Slab:300,700);
/* ==========================================================================
   Variables
   ========================================================================== */
/*- - - - - - - - - - - */
/* ===================================
   Site - Custom
   =================================== */
/* line 5, scss/_site.scss */
.container {
  margin: 0 auto; }
  @media screen and (min-width: 568px) {
    /* line 5, scss/_site.scss */
    .container {
      max-width: 767px; } }
  @media screen and (min-width: 768px) {
    /* line 5, scss/_site.scss */
    .container {
      max-width: 1025px; } }
  @media screen and (min-width: 1024px) {
    /* line 5, scss/_site.scss */
    .container {
      max-width: 1169px; } }
  @media screen and (min-width: 1280px) {
    /* line 5, scss/_site.scss */
    .container {
      width: 1170px; } }

/* line 26, scss/_site.scss */
main {
  min-height: 550px;
  background: #fff; }

/* ===================================
Layout
=================================== */
/*
BOX-SIZING
Set the global `box-sizing` state to `border-box`
https://github.com/inuitcss/generic.box-sizing
Paul Irish
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
/* line 12, scss/_layout.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/*
Modernizr file has been updated to include 'main'å for IE
*/
/* line 23, scss/_layout.scss */
.box-main {
  padding: 1em; }
  @media screen and (min-width: 768px) {
    /* line 23, scss/_layout.scss */
    .box-main {
      padding: 1.5em; } }

/* line 30, scss/_layout.scss */
.box-main-sm {
  padding: 0 .5em; }
  @media screen and (min-width: 768px) {
    /* line 30, scss/_layout.scss */
    .box-main-sm {
      padding: 0 1em; } }

/* line 37, scss/_layout.scss */
.box-sm {
  padding: .5em; }

/* line 39, scss/_layout.scss */
.box-featured-text {
  padding: 1em; }
  @media screen and (min-width: 768px) {
    /* line 39, scss/_layout.scss */
    .box-featured-text {
      padding: 1em 90px 1em 1em; } }

/* line 47, scss/_layout.scss */
.box-header {
  padding: 0 1em; }
  @media screen and (min-width: 768px) {
    /* line 47, scss/_layout.scss */
    .box-header {
      padding: 0 1.5em; } }

/* line 53, scss/_layout.scss */
.box-header-sm {
  padding: 0 0.3em; }
  @media screen and (min-width: 768px) {
    /* line 53, scss/_layout.scss */
    .box-header-sm {
      padding: 0 0.5em; } }

/* line 1, scss/_flex.scss */
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  background-color: tan;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-font-smoothing: antialiased; }

/* line 12, scss/_flex.scss */
main {
  background-color: MediumAquamarine;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/* line 17, scss/_flex.scss */
p {
  font-size: 14px;
  line-height: 1.5rem; }

/* line 22, scss/_flex.scss */
img {
  max-width: 100%; }

/* line 26, scss/_flex.scss */
.header {
  background: #0c232a; }
  /* line 29, scss/_flex.scss */
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 36, scss/_flex.scss */
  .header .logo {
    color: #fff; }

/* line 41, scss/_flex.scss */
.nav-wrapper {
  margin-left: -1rem; }

/* line 45, scss/_flex.scss */
.flexbox .nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap; }
  @media screen and (min-width: 568px) {
    /* line 45, scss/_flex.scss */
    .flexbox .nav-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

/* line 67, scss/_flex.scss */
.box {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: #808080;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 0 0 1rem 1rem; }
  /* line 78, scss/_flex.scss */
  .box p {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0; }

/* line 85, scss/_flex.scss */
.flexbox .box-1,
.flexbox .box-4,
.flexbox .box-5,
.flexbox .box-6,
.flexbox .box-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

/* line 93, scss/_flex.scss */
.flexbox .box-2,
.flexbox .box-3 {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 auto;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto; }
  @media screen and (min-width: 950px) {
    /* line 93, scss/_flex.scss */
    .flexbox .box-2,
    .flexbox .box-3 {
      -webkit-box-flex: 2;
      -webkit-flex: 2 1 250px;
          -ms-flex: 2 1 250px;
              flex: 2 1 250px; } }
  @media screen and (min-width: 1067px) {
    /* line 93, scss/_flex.scss */
    .flexbox .box-2,
    .flexbox .box-3 {
      -webkit-box-flex: 2;
      -webkit-flex: 2 1 auto;
          -ms-flex: 2 1 auto;
              flex: 2 1 auto; } }

/* line 125, scss/_flex.scss */
.label-wrapper {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  /* line 131, scss/_flex.scss */
  .label-wrapper label {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-right: 1rem;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
    @media screen and (min-width: 768px) {
      /* line 131, scss/_flex.scss */
      .label-wrapper label {
        -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
                flex-basis: 25%; } }
  /* line 140, scss/_flex.scss */
  .label-wrapper input,
  .label-wrapper textarea {
    font-size: 14px;
    padding: 6px 11px;
    background-color: #f7f7f7;
    border: 5px solid #dcddde;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3; }
  /* line 149, scss/_flex.scss */
  .label-wrapper select {
    font-size: 14px;
    height: 45px;
    border: 5px solid #dcddde;
    border-radius: 3px;
    -webkit-flex-basis: 250px;
        -ms-flex-preferred-size: 250px;
            flex-basis: 250px; }
  /* line 157, scss/_flex.scss */
  .label-wrapper .btn {
    color: #4D4D4D;
    background-color: #dcddde; }
    @media screen and (min-width: 568px) {
      /* line 157, scss/_flex.scss */
      .label-wrapper .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-width: 0; } }

/* line 169, scss/_flex.scss */
.input-wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 172, scss/_flex.scss */
  .input-wrapper label {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

/* line 178, scss/_flex.scss */
.textarea-wrapper label {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

/* line 185, scss/_flex.scss */
.home-promo-wrapper-bg {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  margin: 1rem 0; }
  /* line 191, scss/_flex.scss */
  .home-promo-wrapper-bg .home-promo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -1rem; }
  /* line 197, scss/_flex.scss */
  .home-promo-wrapper-bg .home-promo-u {
    margin: 0 0 1rem 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-basis: 250px;
        -ms-flex-preferred-size: 250px;
            flex-basis: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  /* line 207, scss/_flex.scss */
  .home-promo-wrapper-bg .promo-u-img {
    border-radius: 5px;
    border: 1px solid #a7a9ac; }
  /* line 212, scss/_flex.scss */
  .home-promo-wrapper-bg .promo-u-heading {
    margin-bottom: 0; }
  /* line 216, scss/_flex.scss */
  .home-promo-wrapper-bg .promo-u-text {
    margin-top: .3rem; }
  /* line 220, scss/_flex.scss */
  .home-promo-wrapper-bg .btn {
    margin-top: auto; }

@media screen and (min-width: 768px) {
  /* line 225, scss/_flex.scss */
  .column-text {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; } }
@media screen and (min-width: 1024px) {
  /* line 225, scss/_flex.scss */
  .column-text {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem; } }

/* line 237, scss/_flex.scss */
.footer {
  background: #0c232a; }
  /* line 240, scss/_flex.scss */
  .footer p {
    color: #fff; }

/* line 245, scss/_flex.scss */
.csstransitions .btn {
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease; }

/* line 249, scss/_flex.scss */
a.btn {
  text-decoration: none; }

/* line 253, scss/_flex.scss */
.btn {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  padding: 10px 20px;
  background-color: #004d4d;
  background-image: none;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 3px;
  border-radius: 10px;
  cursor: pointer; }

/* line 271, scss/_flex.scss */
.btn:hover {
  background-color: teal; }

/* ===================================
IE Exceptions
=================================== */
/* line 279, scss/_flex.scss */
.lt-ie10 .box {
  float: left; }

/* =================================== */
/*  HTML 5 Boiler Plate Helper Classes */
/* =================================== */
/* line 4, scss/_boilerplate_helper.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

/* line 5, scss/_boilerplate_helper.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/* line 6, scss/_boilerplate_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 7, scss/_boilerplate_helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 8, scss/_boilerplate_helper.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 10, scss/_boilerplate_helper.scss */
.invisible {
  visibility: hidden; }

/* line 11, scss/_boilerplate_helper.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 13, scss/_boilerplate_helper.scss */
.clearfix:after {
  clear: both; }

/* line 14, scss/_boilerplate_helper.scss */
.clearfix {
  *zoom: 1; }
